@use '../variables'
@use '../mixins'

#sidebar
  background-color: variables.$bg-color
  border-radius: variables.$container-border-radius
  display: flex
  align-items: center
  flex-direction: column
  text-align: center
  position: relative
  padding: 3rem 0rem
  width: 95%
  max-width: 95%

  img
    max-width: 70%
    border-radius: variables.$container-border-radius

  #main-title-mobile
    background: variables.$gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    margin: 1rem 1rem 0
    font-size: 2rem
  

  .job-title
    color: variables.$text-color-secondary
    background-color: variables.$bg-color-secondary
    border-radius: variables.$card-border-radius
    margin: 1rem 1rem 0
    padding: .8rem 1.5rem
    width: 95%

  .resume-btn
    @include mixins.resume-btn-mobile
    margin-top: -0.5rem
  

  