@use '../variables'
@use '../mixins'

#social-networks
  @include mixins.center
  gap: 0.5rem
  margin: 0.5rem 0
  width: 95%

  .social-btn
    display: flex
    padding: .6rem
    justify-content: center
    background-color: variables.$bg-color-secondary
    border-radius: variables.$card-border-radius
    color: #333
    font-size: 1.3rem
    @include mixins.center
    width: 100%

  #linkedinIcon
    color: #0072b1

  #githubIcon
    color: #fff

  :hover
    background: variables.$gradient
    > svg
        color: #111
    