@use '../variables'
@use '../mixins'

.tech-container  
  margin-bottom: 1rem
  h2
    width: 16rem

  .tech-grid
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 0.3rem

    .tech-card
      @include mixins.center
      display: flex
      justify-content: space-between
      gap: 1rem
      padding: 0.5rem 0.1rem
      border: 1px solid #333
      width: 49%
      border-radius: variables.$card-border-radius

      .tech-icon
        width: 30%
        display: flex
        justify-content: left

      .tech-info
        width: 40%
        display: flex
        justify-content: right

      h3
        color: variables.$font-color
        font-size: 1rem
        padding-right: 0.1rem

      svg
        font-size: 2.5rem
        height: 2rem

    #HTML
        svg
            color: #E44D26

    #CSS
        svg
            color: #1572B6

    #JavaScript
        svg
            color: #F0DB4F

    #Node
        svg
            color: #83CD29

    #MySql
        svg
            color: #00618A

    #React
        svg
            color: #61DAFB
    
    #Docker
        svg
            color: #1572B6
            background: #fff
            border-radius: 50px
            margin-left: 0.3rem

    #Express
        svg
            color: #fff

    #Django
        svg
            color: #092e20

    #MongoDB
        svg
            color: #00ED64

    #Flask
        svg
            color: #fff

    #Python
        svg
            color: #1572B6
