@use './variables'
@use './mixins'

@media screen and (min-width: 375px)

  #sidebar    

  .tech-container 

    .tech-grid

      #Express    
          justify-content: center
          padding: 0

          .tech-icon            
            position: absolute
            right: 3.5rem

@media screen and (min-width: 414px)
  .tech-container 

    .tech-grid

      #Express    
          justify-content: center
          padding: 0

          .tech-icon            
            position: absolute

          .tech-info
            display: none

@media screen and (min-width: 768px)
  #portfolio
    gap: 0.2rem
    padding: 0.5rem
    flex-direction: row
    justify-content: center
    align-items: start

    #main-title
      display: block
      position: static
      font-size: 3rem
      text-align: right
      margin: 2.5rem
      padding-right: 1rem

  #sidebar

    margin-top: 5rem
    width: 40%
    max-width: 40%

    img
      position: relative
      top: -5rem

    #main-title-mobile
      display: none

    .job-title
      margin: -3rem 1rem 0
      font-size: 1.2rem

  #information-container

    h3
      color: variables.$text-color-secondary
      font-size: .9rem
      margin-bottom: .5rem

    p
      color: variables.$font-color
      font-weight: bold
      font-size: 1.1rem

    svg  
      background-color: variables.$bg-color
      padding: 0.2rem
      width: 15%
      height: 2.5rem
      border-radius: variables.$card-border-radius

    #phone-icon
      color: #e93b81

    #email-icon
      color: #6ab5b9
      // width: 2.7rem

    #local-icon
      color: #c17ceb

  #main-content-container
    width: 60%
    max-width: 60%

    #main-content

      width: 100%
      max-width: 100%


  .tech-container 

    .tech-grid

      .tech-card
        justify-content: space-around

        .tech-info
          h3
            font-size: 1.1rem

      #Express    
          justify-content: space-around

          .tech-icon            
            position: static
            width: 45%
            display: flex
            justify-content: left

          .tech-info
            display: flex
            width: 40%
            justify-content: right

  .projects-grid-conteiner

    .projects-grid
      flex-direction: row
      justify-content: space-around
      .project-card
        width: 49%
        justify-content: center
        height: 17rem
        padding: 2rem 0

      #project-name
        // padding-top: 1rem

@media screen and (min-width: 1024px)
  #portfolio
    justify-content: space-around

  #sidebar
    max-width: 30%

  #main-content-container
    max-width: 70%
    width: 70%




         
            