@use './variables'
@use './mixins'

@media screen and (min-width: 375px)

  #sidebar    

  .tech-container 

    .tech-grid

      #Docker
        svg
            width: 35px
            height: 35px

@media screen and (min-width: 414px)
  // .tech-container 

  //   .tech-grid

  //     #Express    
  //         justify-content: center
  //         padding: 0

  //         .tech-icon            
  //           position: absolute

  //         .tech-info
  //           display: none

@media screen and (min-width: 768px)
  #portfolio
    gap: 0.2rem
    padding: 0.5rem
    flex-direction: row
    justify-content: center
    align-items: start

    #main-title
      display: block
      position: static
      font-size: 3rem
      text-align: right
      margin: 2.5rem
      padding-right: 1rem

  #sidebar

    margin-top: 5rem
    width: 30%
    max-width: 30%

    img
      position: relative
      top: -5rem

    #main-title-mobile
      display: none

    .job-title
      margin: -3rem 1rem 0
      font-size: 1.2rem

  #information-container
    padding: 5px 2px

    .info-card
    margin-bottom: .8rem

    p
      font-size: 15px

    svg  
      padding: 0 1px
      width: 11%

  #main-content-container
    width: 70%
    max-width: 70%

    #main-content

      width: 100%
      max-width: 100%

  .tech-container
    width: 100%

    .tech-grid

      .tech-card
        justify-content: space-around

        .tech-info
          justify-content: center 

        h3
          font-size: 1.4rem

        svg
          width: 55px
          height: 55px

      #Docker
        svg
            width: 50px
            height: 50px

  .projects-grid-conteiner

    .projects-grid
      flex-direction: row
      justify-content: space-around

      .project-card
        width: 49%
        align-items: flex-start
        min-height: 18rem
        padding: 0rem 1rem

      #project-name
        margin-top: 1rem

@media screen and (min-width: 1024px)
  #portfolio
    justify-content: space-around

  #sidebar
    max-width: 30%

  #main-content-container
    max-width: 70%
    width: 70%

    p
      font-size: 1.3rem

    #Docker
        svg
            height: 50px

  #information-container

    h3
      font-size: 1.1rem

    p
      font-size: 1.2rem

  .projects-grid-conteiner

    .projects-grid

      .project-card
        min-height: 22rem

      #project-name
        font-size: 2rem
  




         
            