@use './variables'
@use './mixins'

@media screen and (min-width: 375px)

  #sidebar    

  .tech-container 

    .tech-grid

      #Express    
          justify-content: center
          padding: 0

          .tech-icon            
            position: absolute
            right: 3.5rem

@media screen and (min-width: 414px)
  .tech-container 

    .tech-grid

      #Express    
          justify-content: center
          padding: 0

          .tech-icon            
            position: absolute

          .tech-info
            display: none

@media screen and (min-width: 768px)
  #portfolio
    gap: 0.2rem
    padding: 0.5rem
    flex-direction: row
    justify-content: center
    align-items: start

    #main-title
      display: block
      position: static
      font-size: 3rem
      text-align: right
      margin: 2.5rem
      padding-right: 1rem

  #sidebar

    margin-top: 5rem

    img
      position: relative
      top: -5rem

    #main-title-mobile
      display: none

    .job-title
      margin: -3rem 1rem 0
      font-size: 1.2rem

  .tech-container 

    .tech-grid

      .tech-card
        justify-content: space-around

        .tech-info
          h3
            font-size: 1.3rem

      #Express    
          justify-content: space-around

          .tech-icon            
            position: static
            width: 40%
            display: flex
            justify-content: left

          .tech-info
            display: flex
            width: 40%
            justify-content: right

         
            